h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

body {
    background: linear-gradient(to bottom, rgb(28, 0, 70), #1a0907);
}
  
.background-div {
  width: 90vw;
  height: 80vh;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(to bottom, #5631B4, black);
  position: relative;
}

.div-container {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.resources-div {
  width: 340px;
  height: 260px;
  margin: 13px;
  border-radius: 10px;
}