.nav-div {
  background-color: transparent;
  padding: 10px;
  max-height: 100px;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin: auto; 
  align-items: right;
}

.nav-link:hover {
  text-decoration: none;
}

.navbar-nav {
  align-items: right;
  justify-content: right;
}

.centered-nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-nav {
  display: flex;
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

.nav-item {
  margin-left: 10px; 
}

.logo {
  width: 200px;
  height: 200px;
  margin-top: -60px;
}

button {
  background: linear-gradient(to bottom, #05065C, black);
  color: white;
}